* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: aliceblue;
        color: black;
        width: 100%;
        position: fixed;
        height: 20vh;
        z-index: 1000;

        .logo {
            padding-left: 20px;

            p {
                font-size: 45px;

                span {
                    color: brown;
                }
            }
        }

        .links {
            gap: 6px;



            a {
                padding-right: 20px;
                text-decoration: none;
                color: black;
                font-size: 30px;
            }

            #B {
                background-color: brown;
                padding: 18px 25px;
                color: aliceblue;
                transition: 0.5s all ease-in-out;

                &:hover {
                    border: 1px solid brown;
                    background-color: aliceblue;
                    color: black;

                }
            }

            #Bl {
                border: 1px solid brown;
                padding: 15px 20px;
                margin-right: 2vw;
                transition: 0.5s all ease-in-out;

                &:hover {
                    background-color: brown;
                    color: aliceblue;

                }



            }
        }
        .icon{
            font-size: 40px;
            margin-right: 3vw;
            display: none;
        }
    }
}

.home {
    margin-top: 20vh;
    width: 100%;
    display: flex;

    .cont {
        width: 80%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;

        .choose {
            display: flex;
            flex-direction: column !important;

            h1 {
                width: 350px;
                font-size: 65px;
                margin-bottom: 2vh;
                margin-left: 15px;

            }

            p {
                width: 750px;
                font-size: 26px;
            }

            img {
                width: 800px;
                height: 600px;
                object-fit: contain;
                margin-right: 2.5vw;
            }
        }

        .tall {
            img {
                height: 890px;
                width: fit-content;
                object-fit: contain;
            }
        }

    }
}

.provide {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #fcf7ef;
    margin-bottom: 15vh;
    margin-top: 20vh;

    .big {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;



        p {
            margin-top: 150px;
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: center;
            font-size: 100px;
            font-weight: bolder;
            max-width: 1200px;

        }

        .lorem {
            margin-top: 5vh;
            display: flex;
            flex-direction: row !important;
            gap: 40px;
            margin-bottom: 20vh;

            p {
                font-size: 30px;
                max-width: 800px;
                text-align: left;
            }
        }

        .images {
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 1;

            img {
                width: 500px;
                height: max-content;
                object-fit: contain;

            }

            img:nth-child(1) {
                margin-top: 140px !important;
            }

            img:nth-child(3) {
                margin-top: 140px !important;
            }

            img:nth-child(4) {
                align-items: flex-end;
            }
        }
    }
}

.Favorite-Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;

    .tittle {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 15vh;
            font-size: 50px;
        }
    }

    .cards {
        width: 80%;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        margin: auto;
        justify-content: center;

        .card {
            width: 100%;
            height: 100%;

            img {
                width: 80%;
                object-fit: cover;
            }

            .description {
                p {
                    color: #000000;
                }
            }

            .where {
                p {
                    color: #b9b9b9;
                }
            }

            .price {
                p {
                    color: #121212;
                }
            }

            .offer {
                color: #ccb6a4;
            }
        }
    }
}

.comfy {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;

    .text {
        margin-left: 15vw;
        margin-bottom: 10vh;

        .tittle {
            p {
                font-size: 100px;
            }
        }

        .descreption {
            p {
                font-size: 25px;
            }
        }
    }

    .images {
        display: flex;
        justify-content: space-between;
    }
}


.Our-News {
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        .words {
            margin-top: 20px;

            p {
                font-size: large;
            }
        }

        .tittle {
            margin-top: 40vh;
            font-size: 30px;
        }

    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        img {
            object-fit: cover;
            width: 1200px;
            height: 414px;
        }
    }

    .text2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
    }
}

@media screen and (max-width: 1020px) {
    .links{
        a{
            display: none;
        }
    }
    .icon{
        display: flex !important;
    }

}